@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

:root {
    --colour-black: hsl(240, 5%, 20%);
    --colour-accent: hsl(300, 50%, 40%);
    --colour-socials: hsl(240, 5%, 40%);
    --colour-navText: hsl(240, 25%, 95%);;

    --active-fontSize: 20px;
    --alternate-fontSize: 12px;
    --active-fontFamily: 'Open Sans', sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --colour-body: hsl(240, 20%, 95%);
        --colour-text: hsl(240, 5%, 10%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --colour-body: hsl(240, 5%, 10%);
        --colour-text: hsl(240, 25%, 90%);
    }
}


a {
    text-decoration: none;
    color: var(--colour-text);
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--colour-body);
    color: var(--colour-text);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--active-fontFamily);
    font-size: var(--active-fontSize);
}

@media only screen and (max-width: 620px) {
    body {
        margin: 0;
        font-size: 3vw;
    }
}

header {
    background-color: var(--colour-black);
    color: var(--colour-white);
    width: 80%;
    height: 60px;
    /* min-height: 60px;
    max-height: 60px; */
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a, 
.link-nav {
    color: var(--colour-navText);
}

h3,
p {
    margin: 0;
    font-size: var(--active-fontSize);
}

@media only screen and (max-width: 620px) {
    p {
        margin: 0;
        font-size: 3vw;
    }
}

.logo {
    /* background-color: red; */
    width: 40px;
    height: 40px;
}

.logo>img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
}

.tabs {
    /* background-color: red; */
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.tab-active {
    color: var(--colour-accent);
    font-weight: bold;
    font-style: italic;
}

main {
    /* background-color: var(--colour-white); */
    width: 80%;
    height: 100%;
    padding: 60px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 60px; */
}

footer {
    background-color: var(--colour-black);
    color: var(--colour-navText);
    width: 80%;
    height: 60px;
    /* min-height: 60px;
    max-height: 60px; */
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games {
    /* background-color: red; */
    width: 100%;
    max-width: 1920px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, calc(calc(100% - 20px) / 2));
    grid-template-rows: auto;
    gap: 10px;
}

@media only screen and (max-width: 800px) {
    .games {
        /* background-color: red; */
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(1, calc(calc(100% - 20px) / 1));
        grid-template-rows: auto;
        gap: 10px;
    }
}

.game-widget {
    /* background-color: red; */
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.game-widget>img {
    background-color: var(--colour-socials);
    width: 100%;
    aspect-ratio: 1.5;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.game-widget>h3 {
    /* background-color: orangered; */
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
    .game-widget>h3 {
        font-size: 3vw;
    }
}

.game-widget>p {
    /* background-color: blue; */
    color: var(--colour-accent);
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis; */
}

@media only screen and (max-width: 600px) {
    .game-widget>p {
        font-size: 3vw;
    }
}

.socials {
    /* background-color: red; */
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.socials>a,
a>svg {
    height: 30px;
    color: var(--colour-accent);
}

.text-accent {
    color: var(--colour-accent);
}

.about-me {
    /* background-color: red; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* <-- change this to align the text to top/center/bottom flex-start/center/flex-end */
    gap: 20px;
}

.about-portrait {
    width: 15%;
    aspect-ratio: 1;
    border-radius: 5px;
}

.about-info {
    /* background-color: green; */
    width: 75%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-title {
    /* background-color: pink; */
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-text {
    /* background-color: yellow; */
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
